
.first-color { 
	background: #e7e6e1; 
}
	
.second-color { 

	background: #f7f6e7; 
	background: #fdfdf3; 
}

.third-color { 
	background: #c1c0b9; 
}

.fourth-color { 
	background: #537791; 
	background: #114a74;
}

.dark {
	background:#1b2d3a;;
}



